@font-face {
  font-family: Raleway;
  src: url(../Raleway/Raleway-VariableFont_wght.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: Raleway;
}

.form {
  margin: auto;
  width: 20%;
}

h1 {
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

<<<<<<< HEAD
.violetTitle {
    color: #7C15FF;
}

h1 {
    position : relative;
    left: 500px;
    font-size: 50px;
    font-family: 'Raleway';
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
}

h2 {
    position : relative;
    left: 580px;
    font-size: 20px;
    font-family: 'Raleway';
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
}
#password, #email {
    font-size: 1.5em;
    border-bottom: 2px solid white;
}

.button {
    background-color: black;
    border-color: white;
    color: white;
    height: 30px;
    width: 200px;
    padding : 10px;
}

button:hover {   
    opacity: 0.7;

}  

input[type="password"], input[type="email"]
{
    background: transparent;
    border: none;
}

.cadre
{
    box-sizing: border-box;
    margin: 0px 0px 0px auto;
    z-index: 2;
    position: relative;
    display: flex;
    -webkit-box-align: inherit;
    align-items: inherit;
    flex-wrap: wrap;
}

.cadre2
{
    background-color: #5c5a68;
    width: calc(40% - 8px);
    border: 2px solid white;
    display:block;
    -webkit-box-align: center;
    align-items: center;
    padding: 40px;
    margin: 6px 6px 6px 16px;
    box-sizing:calc(50px);
=======
#create-account {
  margin-top: 0px !important;
  font-weight: 400;
  font-size: small;
  color: white;
  text-decoration: none;
}

#logo {
  margin-top: 75px;
}

.violet-title {
  color: #7c15ff;
}

.button {
  color: white;
  background-color: black;
  border-radius: 8px;
  border-color: white;
  padding: 6px 32px;
}

.input {
  color: white;
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form * {
  margin-top: 15px;
}

label {
  display: inline-block;
>>>>>>> 386b559ce912820feff206813c1447440ce86ac9
}
